deviceList:
  - name: "example-camera"
    profileName: "USB-Camera-General"
    description: "Example Camera"
    labels: [ "device-usb-camera-example", ]
    protocols:
      USB:
        Path: "/dev/video0"
        AutoStreaming: "false"