# Pre-define Devices
# deviceList:
#   - name: "hp-w200-01"
#     profileName: "HP-Webcam-w200"
#     description: "HP Webcam w200 - 01"
#     labels: [ "device-usb-camera-example" ]
#     protocols:
#       USB:
#         Paths: ["/dev/video0",]
#         AutoStreaming: "false"
